<a href="https://colab.research.google.com/github/katshalonskaya/Project-for-AoSN/blob/main/AoSN_prblm_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import os
import itertools
import networkx as nx
from itertools import combinations

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (2.6.3)

In [2]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [3]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [4]:
downloaded = drive.CreateFile({'id':'1gcAfMXpoWA6iXBWCocrlbFOnkoyOgD7Q'})
downloaded.GetContentFile("cntch.csv",  mimetype='csv')
cntnt = pd.read_csv('cntch.csv')
downloaded = drive.CreateFile({'id':'1lvF-uxPP0DNFxwuFwMpwoPtm5wo6UUqr'})
downloaded.GetContentFile("prblmch.csv",  mimetype='csv')
prblm = pd.read_csv('prblmch.csv')
downloaded = drive.CreateFile({'id':'152oXJcgGKudEKCM2oPapQc4YXc7lpeDX'})
downloaded.GetContentFile("usrch.csv",  mimetype='csv')
usr = pd.read_csv('usrch.csv')

In [5]:
cntnt.pop("level1_id")
cntnt.pop("level2_id")
cntnt.pop("level3_id")
cntnt.pop("level4_id")
cntnt.pop("subject")

0       math
1       math
2       math
3       math
4       math
        ...
1329     NaN
1330     NaN
1331     NaN
1332     NaN
1333     NaN
Name: subject, Length: 1334, dtype: object

In [6]:
usr.pop('badges_cnt')
usr.pop('first_login_date_TW')
usr.pop('user_city')
usr.head()

,Unnamed: 0,uuid,gender,points,user_grade,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt
0,396,fUiuB7SPD9QYApc5GYqFs2+IdzYPILeKDL8HEdGc1ek=,1,104820,5,1,1,0,1,0
1,1313,25BBuM6hiBHNi3SIop1N3yVZcYwmSCrHoN5dnyt397I=,0,126082,5,1,1,0,1,0
2,2469,cYPUcxPHHzfyA3GTSkRL/IfXYWq5idkCOCDw3elQIOc=,0,3660,5,1,1,0,1,0
3,11426,oXChecbW08XhQ83WzOMPDOk+Gq5dGaVrqO/RiDPkjtQ=,1,1275,7,1,1,0,1,0
4,14438,4IEuyf0Q/ZcI814fUZCb2o72QEjynwbihuzd6AWSUZU=,0,69397,6,0,1,0,0,0

In [7]:
prblm.pop('total_sec_taken')
prblm.pop('total_attempt_cnt')
prblm.pop('used_hint_cnt')
prblm.head()

,Unnamed: 0,timestamp_TW,uuid,ucid,upid,problem_number,exercise_problem_repeat_session,is_correct,is_hint_used,level
0,3317,2019-06-02 19:15:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,rzWpkZfVptJjhCtmA5xHgJIsAZQKyQ0mwHzaE2K/I9Y=,rmdqcNIKqoQBDP6UuEnjhgIL6vm+qw6zm5NOsyeFI1s=,36,3,0,1,2
1,7415,2018-09-29 17:15:00 UTC,7d++UMRHGrnoRmVXey3umeKlOwA22bCuSMbVGO9QKII=,gwyAKrDd3r/aPElAq/97BWk1H4+bsSURhZI+O3WDwFY=,flfeUQqShTQd40KGf0leEUYD60rtQecY6MMGr4xdres=,4,1,0,1,0
2,10638,2018-10-16 16:45:00 UTC,9SgNlDjJycgGdjrzBt7AZBN6AFHupfn3ewBDfAWsNdQ=,RKkxBe+3Z33I75tZfZ8EY7LtVnN5QEfE8O0y6bPFCeo=,STZD5cyjUf3J2AETFRoMb+LREPAPoAY3Cc8b63jV3Qw=,2,1,1,0,0
3,14824,2019-06-03 20:00:00 UTC,4qTG7XqzmOWUpeIhEJ/eN05YJf0C9lxbxGPa7bUeGBQ=,bZml5gkJWB1WJFn9WFcAJB4dwFXSFI3h0uK0BwtBHzg=,MSas2P953+W2pAXMCsguOxNRn9VrA+etQEsGy8YUR7M=,12,1,1,1,0
4,20722,2019-05-12 09:45:00 UTC,QCNXGnKbcSS9WfPo0QmpjND7JQWh9RPbBdqiuEiJ9Lk=,5XOh9hPgSIw+4ArOqH8SRFzrFrG107tCCpwFQcpZ9T8=,DgKbAW6IXGzG5ed4FZrC4MPSTrb64l7Dxj2oJYLJfjo=,2,1,0,1,0

In [8]:
gnrl = pd.merge(prblm,usr,on="uuid", how="inner")
gnrl.rename(columns = {'Unnamed: 0_x' : 'idpr', 'Unnamed: 0_y' : 'idus'}, inplace = True) 
gnrl.head()

,idpr,timestamp_TW,uuid,ucid,upid,problem_number,exercise_problem_repeat_session,is_correct,is_hint_used,level,idus,gender,points,user_grade,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt
0,3317,2019-06-02 19:15:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,rzWpkZfVptJjhCtmA5xHgJIsAZQKyQ0mwHzaE2K/I9Y=,rmdqcNIKqoQBDP6UuEnjhgIL6vm+qw6zm5NOsyeFI1s=,36,3,0,1,2,59721,1,27211,5,0,1,0,0,1
1,61231,2019-05-29 21:00:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,rzWpkZfVptJjhCtmA5xHgJIsAZQKyQ0mwHzaE2K/I9Y=,rmdqcNIKqoQBDP6UuEnjhgIL6vm+qw6zm5NOsyeFI1s=,20,2,0,1,1,59721,1,27211,5,0,1,0,0,1
2,174857,2018-11-21 18:45:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,65YgA0ahggSdeaYBdRl82v/AO+pGzmZFqsi8TTDiP3Y=,JjWuxX+Dp4Y9s30BGgiO+CGjcpOSWuSA5WM3y8ObV88=,16,2,0,1,1,59721,1,27211,5,0,1,0,0,1
3,176442,2018-11-21 18:30:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,65YgA0ahggSdeaYBdRl82v/AO+pGzmZFqsi8TTDiP3Y=,DzBAuk08F2ttS0SAVU21HPRgQqbfbdyMDdjcPQEc9nY=,7,1,0,1,0,59721,1,27211,5,0,1,0,0,1
4,412577,2018-11-21 18:45:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,WzvugOYA7I7EAC0ty8LiMKIA+9T/CYrBJx5dG+/QcMw=,J2ruTHqIt7sQ8Gm0RBe3EFykqR8/sEnghHJjbVNfgJ0=,3,1,1,0,0,59721,1,27211,5,0,1,0,0,1

In [9]:
gnrl = pd.merge(gnrl,cntnt,on="ucid", how="inner")
gnrl.rename(columns = {'Unnamed: 0' : 'idcn'}, inplace = True) 
gnrl.head()

,idpr,timestamp_TW,uuid,ucid,upid,problem_number,exercise_problem_repeat_session,is_correct,is_hint_used,level,...,user_grade,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt,idcn,difficulty,learning_stage,content_name
0,3317,2019-06-02 19:15:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,rzWpkZfVptJjhCtmA5xHgJIsAZQKyQ0mwHzaE2K/I9Y=,rmdqcNIKqoQBDP6UuEnjhgIL6vm+qw6zm5NOsyeFI1s=,36,3,0,1,2,...,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...
1,61231,2019-05-29 21:00:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,rzWpkZfVptJjhCtmA5xHgJIsAZQKyQ0mwHzaE2K/I9Y=,rmdqcNIKqoQBDP6UuEnjhgIL6vm+qw6zm5NOsyeFI1s=,20,2,0,1,1,...,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...
2,1643806,2019-05-29 19:00:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,rzWpkZfVptJjhCtmA5xHgJIsAZQKyQ0mwHzaE2K/I9Y=,GUOHQNHJfPcaIimL5DYusewEe2AUmzy5VSsSeKiazPs=,6,1,0,1,0,...,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...
3,1652167,2019-06-02 19:15:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,rzWpkZfVptJjhCtmA5xHgJIsAZQKyQ0mwHzaE2K/I9Y=,Y6SGgz5raRWUUbf2lFitqEmbik78y1l6zWmUh8mJE/Q=,32,3,0,1,2,...,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...
4,3073631,2019-05-29 21:00:00 UTC,Dq4uCsNL9/pg7BcNMwuUB156IW9ELoXMZEBIxeBRhAs=,rzWpkZfVptJjhCtmA5xHgJIsAZQKyQ0mwHzaE2K/I9Y=,Q2dFHwqg5pmx4zpQ5RXOEl7VMz0bWjGwoGIAFY/dsSc=,21,1,1,0,1,...,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...

In [10]:
gnrl.pop("uuid")
gnrl.pop("ucid")
gnrl.pop("upid")
gnrl.pop("timestamp_TW")
gnrl.head()

,idpr,problem_number,exercise_problem_repeat_session,is_correct,is_hint_used,level,idus,gender,points,user_grade,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt,idcn,difficulty,learning_stage,content_name
0,3317,36,3,0,1,2,59721,1,27211,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...
1,61231,20,2,0,1,1,59721,1,27211,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...
2,1643806,6,1,0,1,0,59721,1,27211,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...
3,1652167,32,3,0,1,2,59721,1,27211,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...
4,3073631,21,1,1,0,1,59721,1,27211,5,0,1,0,0,1,429,0.0,0.0,[Основной] Распознавание двух знаков после зап...

In [11]:
nodespr = gnrl[["idpr", "exercise_problem_repeat_session",	"is_correct",	"is_hint_used", 'idcn', 'difficulty', 'learning_stage']]
nodespr.head()

,idpr,exercise_problem_repeat_session,is_correct,is_hint_used,idcn,difficulty,learning_stage
0,3317,3,0,1,429,0.0,0.0
1,61231,2,0,1,429,0.0,0.0
2,1643806,1,0,1,429,0.0,0.0
3,1652167,3,0,1,429,0.0,0.0
4,3073631,1,1,0,429,0.0,0.0

In [ ]:
from google.colab import files
nodespr.to_csv('nodespr.csv') 
files.download('nodespr.csv')

In [12]:
gnrl2 = gnrl[['idcn', "idpr",]]
gnrl2.head()

   idcn     idpr
0   429     3317
1   429    61231
2   429  1643806
3   429  1652167
4   429  3073631

In [13]:
gnrl3 = gnrl2.groupby("idcn")["idpr"].apply(list).agg(tuple).to_frame()
gnrl3.tail()

                                                   idpr
idcn
652   (2102973, 3171168, 3185760, 4738638, 5086705, ...
653   (1242211, 1599061, 3398243, 4486271, 4803857, ...
654   (380431, 3207766, 3310263, 4017960, 4624754, 5...
655   (66898, 1529111, 1614464, 1935039, 2003716, 46...
656   (2934051, 3182691, 6285814, 6489678, 8035580, ...

In [ ]:
from google.colab import files
gnrl3.to_csv('gnrl3.csv') 
files.download('gnrl3.csv')

In [14]:
downloaded = drive.CreateFile({'id':'1a3FP7eBv2bucun5RuQoNNVy6xe2j-aK0'})
downloaded.GetContentFile("gn.csv",  mimetype='csv')
gn = pd.read_csv('gn.csv')

In [15]:
gn.head()

,idcn,idpr1,idpr2,idpr3,idpr4,idpr5,idpr6,idpr7,idpr8,idpr9,...,idpr114,idpr115,idpr116,idpr117,idpr118,idpr119,idpr120,idpr121,idpr122,idpr123
0,0,4558511,6398468.0,6408431.0,11102871.0,11242417.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3237298,4707972.0,5022317.0,6330559.0,6376319.0,6480133.0,8033292.0,8062595.0,8262710.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1513033,1547996.0,3136956.0,4642101.0,7998422.0,11324274.0,14286348.0,14550744.0,16103626.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4618105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1493650,3035035.0,4697503.0,4737443.0,4777348.0,6429511.0,6441007.0,6556768.0,8145215.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
def func_name(df):
  df = df.drop('idcn',1)
  rf = pd.DataFrame()
  tf = df
  for idpr_1 in df:
    tf = tf.drop(idpr_1,1)
    for idpr_2 in tf:
      d_to_ap = []
      for i in range(0,len(df)):
        if np.isnan(df[idpr_1][i]) == True or (df[idpr_1][i]) == 0:
          x = df[idpr_1][i]
        elif np.isnan(df[idpr_2][i]) == True or (df[idpr_2][i]) == 0:
          x = df[idpr_2][i]
        else:
          x = (df[idpr_1][i],df[idpr_2][i])
        d_to_ap.append(x)
      rf[idpr_1+', '+idpr_2] = d_to_ap

    print('Покончено с ячейкой',idpr_1)
  return rf

In [17]:
edgespr = func_name(gn)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

Покончено с ячейкой idpr1
Покончено с ячейкой idpr2
Покончено с ячейкой idpr3
Покончено с ячейкой idpr4
Покончено с ячейкой idpr5
Покончено с ячейкой idpr6
Покончено с ячейкой idpr7
Покончено с ячейкой idpr8
Покончено с ячейкой idpr9
Покончено с ячейкой idpr10
Покончено с ячейкой idpr11
Покончено с ячейкой idpr12
Покончено с ячейкой idpr13
Покончено с ячейкой idpr14
Покончено с ячейкой idpr15
Покончено с ячейкой idpr16
Покончено с ячейкой idpr17
Покончено с ячейкой idpr18
Покончено с ячейкой idpr19
Покончено с ячейкой idpr20
Покончено с ячейкой idpr21
Покончено с ячейкой idpr22
Покончено с ячейкой idpr23
Покончено с ячейкой idpr24
Покончено с ячейкой idpr25
Покончено с ячейкой idpr26
Покончено с ячейкой idpr27
Покончено с ячейкой idpr28
Покончено с ячейкой idpr29
Покончено с ячейкой idpr30
Покончено с ячейкой idpr31
Покончено с ячейкой idpr32
Покончено с ячейкой idpr33
Покончено с ячейкой idpr34
Покончено с ячейкой idpr35
Покончено с ячейкой idpr36
Покончено с ячейкой idpr37
Покончено с ячейкой idpr38
Покончено с ячейкой idpr39
Покончено с ячейкой idpr40
Покончено с ячейкой idpr41
Покончено с ячейкой idpr42
Покончено с ячейкой idpr43
Покончено с ячейкой idpr44
Покончено с ячейкой idpr45
Покончено с ячейкой idpr46
Покончено с ячейкой idpr47
Покончено с ячейкой idpr48
Покончено с ячейкой idpr49
Покончено с ячейкой idpr50
Покончено с ячейкой idpr51
Покончено с ячейкой idpr52
Покончено с ячейкой idpr53
Покончено с ячейкой idpr54
Покончено с ячейкой idpr55
Покончено с ячейкой idpr56
Покончено с ячейкой idpr57
Покончено с ячейкой idpr58
Покончено с ячейкой idpr59
Покончено с ячейкой idpr60
Покончено с ячейкой idpr61
Покончено с ячейкой idpr62
Покончено с ячейкой idpr63
Покончено с ячейкой idpr64
Покончено с ячейкой idpr65
Покончено с ячейкой idpr66
Покончено с ячейкой idpr67
Покончено с ячейкой idpr68
Покончено с ячейкой idpr69
Покончено с ячейкой idpr70
Покончено с ячейкой idpr71
Покончено с ячейкой idpr72
Покончено с ячейкой idpr73
Покончено с ячейкой idpr74
Покончено с ячейкой idpr75
Покончено с ячейкой idpr76
Покончено с ячейкой idpr77
Покончено с ячейкой idpr78
Покончено с ячейкой idpr79
Покончено с ячейкой idpr80
Покончено с ячейкой idpr81
Покончено с ячейкой idpr82
Покончено с ячейкой idpr83
Покончено с ячейкой idpr84
Покончено с ячейкой idpr85
Покончено с ячейкой idpr86
Покончено с ячейкой idpr87
Покончено с ячейкой idpr88
Покончено с ячейкой idpr89
Покончено с ячейкой idpr90
Покончено с ячейкой idpr91
Покончено с ячейкой idpr92
Покончено с ячейкой idpr93
Покончено с ячейкой idpr94
Покончено с ячейкой idpr95
Покончено с ячейкой idpr96
Покончено с ячейкой idpr97
Покончено с ячейкой idpr98
Покончено с ячейкой idpr99
Покончено с ячейкой idpr100
Покончено с ячейкой idpr101
Покончено с ячейкой idpr102
Покончено с ячейкой idpr103
Покончено с ячейкой idpr104
Покончено с ячейкой idpr105
Покончено с ячейкой idpr106
Покончено с ячейкой idpr107
Покончено с ячейкой idpr108
Покончено с ячейкой idpr109
Покончено с ячейкой idpr110
Покончено с ячейкой idpr111
Покончено с ячейкой idpr112
Покончено с ячейкой idpr113
Покончено с ячейкой idpr114
Покончено с ячейкой idpr115
Покончено с ячейкой idpr116
Покончено с ячейкой idpr117
Покончено с ячейкой idpr118
Покончено с ячейкой idpr119
Покончено с ячейкой idpr120
Покончено с ячейкой idpr121
Покончено с ячейкой idpr122
Покончено с ячейкой idpr123

In [ ]:
from google.colab import files
edgespr.to_csv('edgespr.csv') 
files.download('edgespr.csv')